.createNewThread {
  @apply flex items-center justify-between p-4 sticky top-0;
  background-color: hsl(var(--app-bg));
  border-bottom: 1px solid hsl(var(--app-border));
  color: hsl(var(--app-muted));
}
